.intro-text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

.separation {
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(145, 144, 144);
}

.area {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.slider-option {
  margin: 40px auto;
}

.submit {
margin: 4rem;
font-size: 1rem;
width: 35%;
color: #fff;
text-transform: uppercase;
background: #1E3C5D;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
cursor: pointer;
}

.submit:hover {
background: #52907D;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.2s ease 0s;
}

@media only screen and (max-width: 600px) {
    .intro-text {
      padding: 0 .3rem;
    }
}